.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#div-01 {
  border: 5px solid white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-left: 300px;
  color: rgb(54, 43, 43);
 
}

.sidebar1 {
  padding: 10px;
  margin-block-end: 10%;
  background:rgb(211, 85, 154);
  position:absolute;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
  z-index: 1;
  width: 180px;
 
}
.bodyContactos {
  background-image: url("./imag/563201-mujer-con-crema-facial.png");
  background-size: cover;
 
}
